.App {
  text-align: center;
}

.App-header {
  background-color: red;
  color: white;
  padding: 20px;
}

.App-main {
  padding: 20px;
}

.project {
  border: 2px solid blue;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.App-footer {
  background-color: blue;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
